$asset-item-height: 71px;
$asset-item-height--fiat: 86px;

$basic-spacing-extra-mini: calc(var(--s-basic-spacing) / 4);
$basic-spacing-mini: calc(var(--s-basic-spacing) / 2);
$basic-spacing-extra-small: calc(var(--s-basic-spacing) * 0.75);
$basic-spacing-small: calc(var(--s-basic-spacing) * 1.5);
$basic-spacing-medium: calc(var(--s-basic-spacing) * 2);