$basic-spacing: 16px;
$basic-spacing_big: $basic-spacing * 1.25;
$basic-spacing_small: $basic-spacing * .75;
$basic-spacing_mini: $basic-spacing * .5;

$border-radius: 8px;
$border-radius_small: $border-radius * 1.5;
$border-radius_medium: $border-radius * 2;
$border-radius_big: $border-radius * 3;
