@mixin value-prefix($prop, $value) {
  @each $prefix in ('-webkit-', '-moz-', '') {
    #{$prop}: #{$prefix}#{$value};
  }
}

@mixin asset-logo-styles($size: var(--s-size-medium)) {
  $token-background-color: var(--s-color-base-on-accent);
  height: $size;
  width: $size;
  background-color: $token-background-color;
  background-image: $asset-logo-default-svg;
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: 50%;
  border-radius: 50%;
}

@mixin custom-tabs {
  $tabs-class: ".el-tabs";

  .s-tabs {
    &#{$tabs-class} {
      #{$tabs-class}__header {
        width: 100%;
      }
      #{$tabs-class} {
        &__header {
          #{$tabs-class}__item {
            font-weight: 600;
          }
        }
      }
    }
  }
  #{$tabs-class} {
    &__header {
      margin-bottom: 0;
    }
    &__nav {
      width: 100%;
    }
    &__item {
      width: 50%;
      text-align: center;
      font-size: var(--s-font-size-medium);
    }
  }
}

@mixin hint-text ($lineHeight: var(--s-line-height-medium)) {
  color: var(--s-color-base-content-secondary); // TODO: check primary
  font-size: var(--s-font-size-mini);
  font-weight: 300;
  line-height: $lineHeight;
}

@mixin switch-block () {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: calc(var(--s-basic-spacing) * 2);

  & > span {
    margin-left: calc(var(--s-basic-spacing) * 1.5);
    font-size: var(--s-font-size-medium);
    font-weight: 300;
    letter-spacing: var(--s-letter-spacing-small);
    line-height: var(--s-line-height-medium);
  }
}

@mixin svg-icon ($url: '', $width: var(--s-icon-font-size-mini), $height: $width) {
  display: block;
  width: $width;
  height: $height;
  @if $url != '' {
    background-image: url($url);
  }
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}

@mixin loading {
  animation: rotation 2s infinite linear;
  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }
}

@mixin select-icon ($containerClass) {
  .#{$containerClass} .s-select .el-select {
    .el-input__icon {
      margin-right: 10px;
    }
    i.el-icon-arrow-up:before {
      position: relative;
      top: 5px;
      content: "\e9e4"; // TODO: change it asap
      color: var(--s-color-base-content-primary);
      font-size: var(--s-icon-font-size-medium);
    }
    .el-input .el-select__caret {
      transform: rotateZ(0deg);
      &.is-reverse {
        transform: rotateZ(180deg);
      }
    }
  }
}

@mixin scrollbar ($offsetRight: 6px) {
  &.el-scrollbar {
    margin-right: -#{$offsetRight};
    .el-scrollbar__wrap {
      padding-right: $offsetRight;
      overflow-x: hidden;
    }
    > .el-scrollbar__bar.is-vertical {
      right: 0;
    }
  }
}
