$font-size_basic: 14px;
$line-height_basic: 1.4;
$line-height_small: 1.5;
$line-height_medium: 1.8;
$line-height_big: 3.4;

$font-size_mini: 0.714em;
$font-size_small: 0.857em;
$font-size_normal: 1.142em;
$font-size_medium: 1.714em;
$font-size_large: 2.571em;

$s-letter-spacing-mini: -0.04em;
$s-letter-spacing-small: -0.02em;
$s-letter-spacing-medium: -0.01em;
$s-letter-spacing-big: 0.01em;
$s-letter-spacing-type: 0.06em;

$s-font-feature-settings-title: "tnum" on, "lnum" on, "salt" on, "case" on;
$s-font-feature-settings-card-title: "tnum" on, "lnum" on, "ss01" on;
$s-font-feature-settings-card-body: "ss01" on, "salt" on;
$s-font-feature-settings-common: "tnum" on, "lnum" on, "case" on, "salt" on, "ss01" on;
$s-font-feature-settings-input: "tnum" on, "lnum" on;
$s-font-feature-settings-type: "case" on;
