// Border Radius
$s-border-radius-base: 16px !default;
$s-border-radius-mini: $s-border-radius-base !default;
$s-border-radius-small: $s-border-radius-base * 1.5 !default;
$s-border-radius-medium: $s-border-radius-base * 2 !default;
$s-border-radius-big: $s-border-radius-base * 3 !default;

@import "../../node_modules/@soramitsu/soramitsu-js-ui/lib/styles/index";
